.trolls-logo{
    padding: 4vh;
    width: 37%;
}

.help-btn,
.volume-btn{
    position: absolute;
    height: 12vh;
    bottom: 5vh;
}

.volume-btn{
    right: 10vh;
}
 
.help-btn{
    right: 25vh;
}

//the help popup
.help-tab{
    position: absolute;
    top: 30%;
    left: 30%;
    background-color: #e37e30;
    width: 40vh;
    height: 40vh;
  }

@media (max-width: 600px){
    .help-btn,
    .volume-btn{
        height: 6vh;
        bottom: 9vh;
    }
    .volume-btn{
        right: 3vh;
    }
    .help-btn{
        right: 9vh;
    }
    .trolls-logo{
        padding: 3vh;
        width: 37vh;
    }
}
