.card {
  width: 22%;
  height: 22%;
  transform-style: preserve-3d;
  transition: transform 1.9s;
  cursor: pointer;
  position: relative;
    transform-style: preserve-3d;
    height: 100%;
    width: 100%;
    #card-front,
    .card-back {
      backface-visibility: hidden;
      position: absolute;
      height: 100%;
      width: 100%;
      
    }
  
}

.card-back {
  transform: rotateY(180deg);
  
}

.card.flipped {
  transform: rotateY(180deg);
}

@media (max-width: 1000px){
  .card{
    width: 16%;
    height: 45%;
  }
}

@media (max-width: 650px){
  .card{
    width: 26%;
    height: 26%;
  }
}