.play-area,
.level-area {
    position: absolute;
    top: 50%;
    height: 65%;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 3vh;
    transform: translate(-50%, -50%);
    left: 48%;
}

//levelBtns
.level-area h2{
    color: #ffffff;
    font-size: 9vh;
    transform: scaleX(1.2);
    display: inline-block;
    padding: 1vh;
    border: 1vh solid #ffffff;
    border-radius: 10px; 
}

@media (max-width:1000px){
    .play-area,
    .level-area {
        top: 38%;
        height: 45%;
    }
}


@media (max-width:650px){
    .play-area,
    .level-area{
        height: 46%;
        left: 44%
    }
    .level-area h2{
        font-size: 4vh;
    }
    .level-area {
        flex-direction: column;
    }
}
