.play-area h2{
    color: #ffffff;
    font-size: 9vh;
    transform: scaleX(1.2);
    display: inline-block;
    padding: 1vh;
    border: 1vh solid #ffffff;
    border-radius: 10px; 
}



//game page
.play-area {
    max-width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; 
    margin: 0 auto;
}

.play-area img {
    min-width: 24vh;
    height: 24vh;
    margin-bottom: 1vh; 
}




@media (max-width: 1000px){
    .play-area img{
        min-width: 18vh;
        height: 18vh;
    }
    .help-btn,
    .volume-btn{
        height: 10vh;
        bottom: 3vh;
    }

    .volume-btn{
        right: 7vh;
    }
    .help-btn{
        right: 20vh;
    }
}

@media (max-width: 600px){
    .play-area img{
        min-width: 12vh;
        height: 12vh;
    }
    .help-btn,
    .volume-btn{
        height: 7vh;
        bottom: 2vh;
    }

    .volume-btn{
        right: 3vh;
    }
    .help-btn{
        right: 11vh;
    }
    .play-area h2{
        font-size: 4vh;
    }
    
}