@import 'buttons';
@import 'gamePlay';
@import 'animation';
@import 'cardFlip';

body {
  margin: 0;
  padding: 0;
  background-image: url('/images/trolls_world_tour_sp_6.jpg'); 
  height: 120vh;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

:root{
  display: flex;
}
/* loading image */
.loading-page{
  position: absolute;
  left: 30%;
  top: 8%;
}

.loading-text{
  color: #f13174ed;
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}