@import 'buttons';
@import 'gameArea';
@import 'animation';
@import 'cardFlip';


body {
  margin: 0;
  padding: 0;
  background-image: url('/images/trolls_world_tour_sp_6.jpg'); 
  height: 120vh;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}

/* :root{
  display: flex;

} */

.loading-page{
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.loading-image{
  display: flex;
  justify-content: center;
  width: 50vh;
}

.loading-text{
  color: #f13174ed;
}

@media (max-width: 1000px){
  .loading-page{
    width: 80vh;
    top: 5%;
  }
}

@media (max-width: 650px){
  .loading-page{
    width: 73vh;
    top: 5%;
  }
}