.card {
  width: 15%;
  height: 33%;
  transform-style: preserve-3d;
  transition: transform 1.9s;
  cursor: pointer;
  position: relative;
    transform-style: preserve-3d;
    #card-front,
    .card-back {
      backface-visibility: hidden;
      position: absolute;
      height: 100%;
      width: 100%;
      
    }
  
}

.card-back {
  transform: rotateY(180deg);
}

#card-front{
  animation-name: differentName;
  animation-duration: 1s;
}

.card.flipped {
  transform: rotateY(180deg);
}

@media (max-width: 1000px){
  .card{
    width: 16%;
    height: 45%;
  }
}

@media (max-width: 650px){
  .card{
    width: 26%;
    height: 26%;
  }
}

@keyframes differentName {
  0% {width: 10%; height: 10%;};
  20% {width: 20%; height: 20%;};
  30% {width: 30%; height: 30%;};
  40% {width: 40%; height: 40%;};
  50% {width: 50%; height: 50%;};
  60% {width: 60%; height: 60%;};
  70% {width: 70%; height: 70%;};
 /* 80% {width: 80%; height: 80%;};
   90% {width: 90%; height: 90%;};
  100% {width: 100%; height: 100%;}; */
}